body {
    margin: 0;
    overflow: hidden;
    background-color: #282c34;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #fff;
    background-color: #282c34;
}
