body {
    margin: 0;
    overflow: hidden;
    background-color: #70c5ce;
}

#gameCanvasContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: #70c5ce;
}
